* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgba(14, 97, 14, 0.767);
}
header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 50%;
  margin: 10px auto;
}
header h2 {
  color: rgba(227, 227, 3, 0.925);
  font-size: 30px;
}
header h2 span {
  color: white;
}
header h1 {
  font-size: 50px;
  color: orange;
}
main{
    display: flex;
    justify-content: center;
}
.date-and-day {
  display: grid;
  grid-template-columns: repeat(7, 70px);
  grid-template-rows: 50px repeat(5, 50px);
  border: 1px solid white;
  padding: 30px;
  color: white;
}
.day, .date{
    border: 1px solid rgb(255, 170, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 20px;
}
/* .day:last-child,{
    margin-right: 0px;
    margin-bottom: 0px;
} */
/* .date{
    border: 1px solid magenta;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;;
} */
